@font-face {
    font-family: 'Open_Sans_Regular';
    src: url('../../fonts/OpenSans-Regular.woff2') format('woff2'),
        url('../../fonts/OpenSans-Regular.woff') format('woff'),
        url('../../fonts/OpenSans-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Open_Sans_Bold';
    src: url('../../fonts/OpenSans-Bold.woff2') format('woff2'),
        url('../../fonts/OpenSans-Bold.woff') format('woff'),
        url('../../fonts/OpenSans-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Open_Sans_SemiBold';
    src: url('../../fonts/OpenSans-SemiBold.woff2') format('woff2'),
        url('../../fonts/OpenSans-SemiBold.woff') format('woff'),
        url('../../fonts/OpenSans-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Open_Sans_ExtraBold';
    src: url('../../fonts/OpenSans-ExtraBold.woff2') format('woff2'),
        url('../../fonts/OpenSans-ExtraBold.woff') format('woff'),
        url('../../fonts/OpenSans-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto_Slab_Regular';
    src: url('../../fonts/RobotoSlab-Regular.woff2') format('woff2'),
        url('../../fonts/RobotoSlab-Regular.woff') format('woff'),
        url('../../fonts/RobotoSlab-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

