/* Fonts */
$sans-regular: 'Open_Sans_Regular';
$sans-bold: 'Open_Sans_Bold';
$sans-semiBold: 'Open_Sans_SemiBold';
$sans-extraBold: 'Open_Sans_ExtraBold';
$roboto-regular: 'Roboto_Slab_Regular';


/* Colors */
$primary-color: #1A3B84; // Dark blue
$secondary-color: #DD4A4A; // Kinda Pink
$third-color: #263C9B;
$primary-gray-color: #353535; // Dark Grey
$secondary-gray-color: #9F9FA0; // Medium Gray
$third-gray-color: #D1D1D1; // Light Grey

/* Breakpoint Media Query */
$breakpoint-mobile: 812px;